body{
    font-family: Arial, Helvetica, sans-serif;
}

#wrap{width: 960px; 
    margin: auto; 
    background: #e3e3e3;
}

header h1{ 
    padding: 10px;
}
header h1 nav ul li{
    list-style: none;
}

    