body, html{
    font-family: helvetica, sans-serif;
} 
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
#wrap{
    width: 960px;
    margin: 0px;
    background: black;
    background-image: url(img/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 150px 600px; 
    overflow: hidden;
}
header nav ul{
    list-style: none;
    padding-left: 0;
}    
header nav ul li{
display: inline-block;
margin-right: 70px;
}
header nav ul li a{
    font-size: 18px;
}
#content{
    float: left;
    width: 660px;
    color: grey;
    padding-top: 100px;
    list-style: none;
    
}
article h2 li{
    list-style: none;
    padding-top: 100px;
}
#sidebar{
    float: right;
    width: 300px; 
}
#sidebar ul{
    list-style: none;
}
footer{
    clear: both;
}

