body, html{
    font-family: helvetica, sans-serif;
} 
a:link, a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
#wrap{
    width: 960px;
    margin: 0px;
    background: white;
    background-image:url(img/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px 150px 600px; 
    overflow: hidden;
}
header nav ul{
    list-style: none;
    padding-left: 0;
}    
header nav ul li{
display: inline-block;
margin-right: 70px;
}
header h2 p a{
    font-size: 18px;
}
#formulario{
    float: left;
    width: 660px;
    color: white;
    padding-top: 100px;
}
#Linha2{
    width: 800px;
    color: black;
    padding: 30px 60px 30px 60px;
    display: inline-block;
}


